<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Polls</title>


    <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,300i,600,600i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />
    <link rel="stylesheet" href="/styles/andrewTest.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
     <!-- Top nav bar (fixed) -->
    <nav class="navigation">
      <span>AppTitle</span>
      <span class="logout">
        <button type="button" class="lesultsButton">
          Results
        </button>
        <button type="button" class="logoutButton">
          Logout
        </button>
      </span>
    </nav>

         <!--Header-->
    <div class="flexbox-polls-divider">
      <div> Andrew is working on this - dont touch ------------------------------------------------------------------------------------

          ID: <%= id%>
          creator ID: <%= creator_id%>
          poll string: <%= poll_string%>
          name of poll: <%= name%>
          description of poll: <%= description%>
          start time: <%= start_time%>
          end time: <%= end_time%>
      </div>



      <div>
        <header class="main-header">
          <div>
            <h1>POLLS</h1>
          </div>
        </header>
          <div>
          <main class="container">

       <div>
            <textarea class="inputContent" placeholder="what do you want to eat?"></textarea>
            <br>
            <input id="searchBtn" type="submit"  value= "Search">
        </section>
        <section class="restaurantContainer"></section>
      </main>
      </div>
    </div>
    </div>
  </body>

</html>
