<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Polls</title>


    <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,300i,600,600i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />
    <link rel="stylesheet" href="/styles/andrewTest.css" type="text/css" />
    <link rel="stylesheet" href="/styles/polls.css" type="text/css" />
    <link rel="stylesheet" href="/styles/drag.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
     <!-- Top nav bar (fixed) -->
    <nav class="navigation">
      <span>AppTitle</span>
      <span class="logout">
        <button type="button" class="resultsButton">
          Results
        </button>
        <button type="button" class="logoutButton">
          Logout
        </button>
      </span>
    </nav>

         <!--Header-->
<div class="flexbox-polls-divider">
  <div class="TESTING">
<div class="pollsForm">

  <div>
      <header class="main-header">
          <table style="width:100%">
              <tr>
                <th>Poll Name</th>
                <th>Title</th>
                <th>Description</th>
              </tr>
              <tr>
                <td><%= poll_string %></td>
                <td><%= name %></td>
                <td><%= description %></td>
              </tr>
            </table>
        <div>
          <h1>POLLS</h1>
        </div>
      </header>
        <div>
        <main class="container">


        </div>
</div>
</div>

<form id="formInsert" method="POST" action='/results/<%=poll_string%>/insert'>
  <input id ="inputHidden" name='result[]' value="optionValues">
</form>


<!-- TEST -->
<p>Place your restaurant here</p>
<div class="traverseResults">
  <div class="dropzone">
      <div id="draggable" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">
          Andrew is working on this
      </div>
  </div>
  <div class="dropzone">
      <div id="draggable" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">
       Andrew needs help
    </div>
  </div>
  <div class="dropzone"></div>
  <div class="dropzone"></div>

</div>

<!-- TEST -->


<form method="POST" action='/results/<%= poll_string %>'>
  <input id ="doneRankingButton" type="submit" value="done"/>
  <!-- <button type="submit" value="Submit"></button>Done</button> -->
</form>


</div>




      <div class="container">
        <section class="headerBlock">
          <header class="main-header">
            <div>
              <h1>POLLS</h1>
            </div>
          </header>
       <div>
            <textarea class="inputContent" placeholder="what do you want to eat?"></textarea>
            <br>
            <input id="searchBtn" type="submit"  value= "Search">
          </section>
        <section class="restaurantContainer" ondrop="onDrop(event)">

        </section>
      </div>

    </div>
  </body>

</html>
