<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Polls</title>


    <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,300i,600,600i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />
    <link rel="stylesheet" href="/styles/andrewTest.css" type="text/css" />
    <link rel="stylesheet" href="/styles/polls.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
     <!-- Top nav bar (fixed) -->
    <nav class="navigation">
      <span>AppTitle</span>
      <span class="logout">
        <button type="button" class="lesultsButton">
          Results
        </button>
        <button type="button" class="logoutButton">
          Logout
        </button>
      </span>
    </nav>

         <!--Header-->
    <div class="flexbox-polls-divider">


<div class="pollsForm"> Kenneth is working on this - dont touch-----------<br>

ID: <%= pollIDInput.id%><br>
creator ID: <%= pollIDInput.creator_id%><br>
poll string: <%= pollIDInput.poll_string%><br>
Name of poll: <%= pollIDInput.name%><br>
Description: <%= pollIDInput.description%><br>
Start time: <%= pollIDInput.start_time%><br>
End time: <%= pollIDInput.end_time%>


<div ondragover="onDragOver(event);">
  <div id= "option1" class="option" ondrop="drop(event)" ondragover="allowDrop(event)">
    <p>Option 1</p>

</div>

<div id= "option2" class="option" ondrop="drop(event)" ondragover="allowDrop(event)">
    <p>Option 2</p>

</div>

<div id= "option3" class="option" ondrop="drop(event)" ondragover="allowDrop(event)">
    <p>Option 3</p>

</div>
</div>
<button>Done</button>

<% for (let par in options) {%>

  <p>id: <%=   options[par].id%></p>
  <p> name: <%=   options[par].name%></p>
  <p>location_id: <%=   options[par].location_id%></p>
  <p>poll_id: <%=   options[par].poll_id%></p>
  <p>option_id: <%=   options[par].option_id%></p>
  <p>user_id: <%=   options[par].user_id%></p>
  <p>ranking_id: <%=   options[par].ranking_id%></p>
              ---------------------------
<%   }%>


</div>




      <div class="container">
        <section class="headerBlock">
          <header class="main-header">
            <div>
              <h1>POLLS</h1>
            </div>
          </header>
       <div>
            <textarea class="inputContent" placeholder="what do you want to eat?"></textarea>
            <br>
            <input id="searchBtn" type="submit"  value= "Search">
          </section>
        <section class="restaurantContainer">

        </section>
      </div>
    </div>
    </div>
  </body>

</html>
